<main>
  <div class="container">
    <header class="header">
      <img src="../../../assets/logo/logo-login.png" alt="">
      <h2>LOGIN</h2>
      <p>Insira suas credenciais para acessar sua conta:</p>
    </header>
    <form [name]="formulario" [formGroup]="formulario">
      <label>Email</label>
      <mat-form-field hideRequiredMarker appearance="outline" color="primary">
        <input matInput required type="email" placeholder="Digite seu email" class="input" id="email"
          formControlName="email" value="email">
        <mat-error 
          *ngIf="formulario.get('email')?.errors?.['required'] 
                  && formulario.get('email')?.touched">
                  Campo obrigatório
        </mat-error>
        <mat-error 
          *ngIf="formulario.get('email')?.errors?.['email'] 
                  && formulario.get('email')?.touched">
                  <span>E-mail Inválido</span>
        </mat-error>
      </mat-form-field>
      <label>Senha</label>
      <mat-form-field hideRequiredMarker appearance="outline" color="primary">
        <input matInput required type="password" placeholder="Digite sua senha" class="input" id="senha"
          formControlName="senha" value="senha">
        <mat-error *ngIf="formulario.get('senha')?.errors?.['required'] 
          && formulario.get('senha')?.touched">
          Campo obrigatório
        </mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" 
      [disabled]="!formulario.valid" 
      (click)="onSubmit()"
      [ngClass]="habilitarBotao()"
      >LOGIN</button>
    </form>
    <a class="link" href="" color="primary">Esqueci minha senha</a>
  </div>
</main>